#sidebar.ui.sidebar.inverted.vertical.menu.sidebar-menu
  .item
    .header Asosiy
    .menu
      a.item(href='/main')
        div
          i.icon.tachometer.alternate
          | Asosiy oyna
  .item
    .header Test savollarini yaratish yaratish
    .menu
      a.item
        div
          i.cogs.icon
          | Testlar
      a.item
        div
          i.users.icon
          | Foydalanuvchilar ro'yxati
  .item
    .header Texnikalar
    .menu
      a.item
        div
          i.desktop.icon
          | Kompyuter
      a.item
        div
          i.tablet.alternate.icon
          | Planshet
      a.item
        div
          i.nintendo.switch.icon
          | Switch
      a.item
        div
          i.microchip.icon
          | Router
      a.item
        div
          i.cogs.icon
          | Firewall
      a.item
        div
          i.server.icon
          | Serverlar
      a.item
        div
          i.wifi.icon
          | Wifi routerler
      a.item
        div
          i.print.icon
          | Printerlar
      a.item
        div
          i.hdd.icon
          | Hard disklar
      a.item
        div
          i.soundcloud.icon
          | Kalanokalar
      a.item
        div
          i.camera.retro.icon
          | Kameralar
  .item
    .header Other
    .menu
      a.item(href='#')
        div
          i.icon.envelope
          |               Messages
      a.item(href='#')
        div
          i.icon.calendar.alternate
          |               Calendar
  .ui.segment.inverted
    .ui.tiny.olive.inverted.progress
      .bar(style='width: 54%')
      .label Monthly Bandwidth
    .ui.tiny.teal.inverted.progress
      .bar(style='width:78%')
      .label Disk Usage