doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Automatic Systems for Business
  link(rel='stylesheet' href='/css/semantic.min.css' crossorigin='anonymous')
body
include includes/sidebar.pug

nav.ui.top.fixed.inverted.menu
  .left.menu
    a.sidebar-menu-toggler.item(href='#' data-target='#sidebar')
      i.sidebar.icon
    a.header.item(href='#')
      | Automatic Systems for Business
  .right.menu
    a.item(href='#')
      i.bell.icon
    .ui.dropdown.item
      i.user.cirlce.icon
      .menu
        a.item(href='#')
          i.info.circle.icon
          |  Profile
        a.item(href='#')
          i.wrench.icon
          | Settings
        a.item(href='#')
          i.sign-out.icon
          | Logout
.pusher(style="padding-top: 50px;")
  .main-content
    .ui.grid.stackable.padded
      .four.wide.computer.eight.wide.tablet.sixteen.wide.mobile.column
        .ui.fluid.card
          .content
            .ui.right.floated.header.red
              i.icon.shopping.cart
            .header
              .ui.red.header
                | 3958
            .meta
              | orders
            .description
              | Suxbat turlari (Model)
          .extra.content
            .ui.two.buttons
              .ui.red.button More Info
      .four.wide.computer.eight.wide.tablet.sixteen.wide.mobile.column
        .ui.fluid.card
          .content
            .ui.right.floated.header.green
              i.icon.clock
            .header
              .ui.header.green 57.6%
            .meta
              | Time
            .description
              | Suxboatlar grafigi
          .extra.content
            .ui.two.buttons
              .ui.green.button More Info
      .four.wide.computer.eight.wide.tablet.sixteen.wide.mobile.column
        .ui.fluid.card
          .content
            .ui.right.floated.header.teal
              i.icon.briefcase
            .header
              .ui.teal.header 3112
            .meta
              | Saves
            .description
              | Namunalar
          .extra.content
            .ui.two.buttons
              .ui.teal.button More Info
      .four.wide.computer.eight.wide.tablet.sixteen.wide.mobile.column
        .ui.fluid.card
          .content
            .ui.right.floated.header.purple
              i.icon.trophy
            .header
              .ui.purple.header 9805
            .meta
              | Views
            .description
              | Sinov
          .extra.content
            .ui.two.buttons
              .ui.purple.button More Info
    .ui.grid.stackable.padded
      .four.wide.computer.eight.wide.tablet.sixteen.wide.mobile.center.aligned.column
        .ui.teal.statistic
          .value
            | 5,550
          .label
            | Downloads
      .four.wide.computer.eight.wide.tablet.sixteen.wide.mobile.center.aligned.column
        .ui.purple.statistic
          .value
            | 50+
          .label
            | Developers
      .four.wide.computer.eight.wide.tablet.sixteen.wide.mobile.center.aligned.column
        .ui.green.statistic
          .value
            | 800+
          .label
            | Commits
      .four.wide.computer.eight.wide.tablet.sixteen.wide.mobile.center.aligned.column
        .ui.purple.statistic
          .value
            | 1000+
          .label
            | Cups of Coffee
script(src="/js/jquery.js") 
script(src="/js/semantic.min.js") 
script(src="/js/main.js") 